input {
    @apply w-full px-4 py-2 rounded-md;
    border: var(--border-grey);
}

input:focus {
    @apply rounded;
    border: var(--border-red);
    outline: none;
}

label {
    @apply font-medium text-sm uppercase tracking-wide pb-4;
    color: var(--primary-color);
}

button {
    @apply w-full border p-2 text-white tracking-wide font-medium text-base;
}

/* 
.height {
    height: calc(100vh - 40px);
} */

.login-register-btn {
    @apply uppercase rounded-md;
    background-color: var(--bg-red);
    border: none;
}

.social-icon {
    background-color: #F5F5F8;
}

@media screen and (max-width: 580px) {
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-img {
        margin: 1.5rem 0 2rem 0;
    }
    .form {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 581px) {
    .form-container {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-30;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 3rem;
    }
    .form-img, .form {
        width: 50%;
    }
}

@media screen and (max-width: 319px) {
    .form {
        padding: 0.7rem;
    }
    .form-img, .form {
        width: 100%;
    }
}

@media screen and (min-width: 320px) and (max-width: 419px) {
    .form-img, .form {
        width: 90%;
    }
}

@media screen and (min-width: 420px) and (max-width: 489px) {
    .form-img, .form {
        width: 80%;
    }
}

@media screen and (min-width: 489px) and (max-width: 580px) {
    .form-img, .form {
        width: 75%;
    }
}

@media screen and (min-width: 650px) {
    .form-img {
        width: 30%;
    }
    .form {
        width: 40%;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .form {
        padding: 1.4rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 580px) {
    .form {
        padding: 1.2rem;
    }
}

@media screen and (min-width: 581px) and (max-width: 768px) {
    .form {
        padding: 1.5rem;
    }
}

@media screen and (min-width: 769px) {
    .form {
        padding: 1.5rem 2.5rem;
    }
}